/* Css reset */
* {
  margin: 0;
  padding: 0;
}


html{
  /* for scrolling */
  scroll-behavior: smooth;
}

/* Css Variables */
:root {
  --navbar-height: 69px;
}
/* Navigationbar */

#logo{

  margin: 10px 44px;
}
#logo img{
 height: 90px;
 margin: 2px 10px;
 margin-left: 0px;
}

#navbar ul{
  display: inline-flex;

  font-family: 'Heba', cursive;
  margin-left: 600px;

}


#navbar ul li{
  /* color: white; */
  list-style: none;
  font-size: 1.3rem;
  
  
}

#navbar ul li a{
  /* because by default inline-block */
  display: block;
  padding:3px 22px;
  border-radius: 10px;
  /* anker a er nicer line asbe na */
  text-decoration: none; 
  color: rgb(14, 106, 226);
  
}
#navbar ul li a:hover{
 color:rgb(255, 255, 255);
 background-color:blue;



}

/* Home section */
#home{

    display:flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 568px;

}

/* for backgroud we nuse sudo selctor */
#home::before{

  content: "";
  background-color:  rgb(214, 223, 231);
  height:642px;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  z-index: -1;
  opacity: 0.89;

}
#home h1{
   color:rgb(0, 0, 0);
   text-align: center;
   font-family: 'Bree Serif', serif;
 

}

#home p{
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.5rem;
  font-family: 'Bree Serif', serif;
  

}

/* Services section */
#services{
  margin:34px;
  display: flex;


}
#services .box{
  border:2px solid brown;
  padding: 34px;
  margin:2px 45px;
  border-radius: 23px;
  background: #f2f2f2;
  margin-bottom: 25px;



}
#services .box img{
       height: 160px;
       display: block;
       margin: auto;



}
#services .box p{
  font-family: 'Bree Serif', serif;
 


}


/* client Section */
#client-section{

  position: relative;

}

#client-section::before{
  content:"";
  position: absolute;
  background: url('../bg.jpg');
  width:100%;
  height:100%;
  z-index: -1;
  opacity: 0.3;
  

}

#clients{

  display: flex;
  align-items: center;
  justify-content: center;
  

}

#clients img{

  height: 124px;

}

.client-item{

  padding: 65px;


}

/* Contact Section */
#contact{
  position: relative;
  


}

#contact::before{
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  z-index: -1;
  opacity: 0.7;
  background: url('../contact.jpg') no-repeat center center/cover;

  
}

#contact-box{

  display:flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 34px;
}

#contact-box form{
   width:40%;



}

#contact-box label{
  font-size:1.3rem;  /* prblem */
  font-family: 'Bree Serif', serif;


}

#contact-box input,
#contact-box textarea{
    
  width:100%;
  padding: 0.5rem;
  border-radius: 9px;
  font-size: 1.1rem;
 

}






.footerImage {
  height: 20px;
  width: 30px;
}
.footerImage1 {
  height: 30px;
  width: 30px;
}

/* Utility Classes for all */
.h-primary{
  font-family: 'Bree Serif', serif;
  font-size: 3.8rem;
  padding: 12px;
  
}

.h-secondary{
  font-family: 'Bree Serif', serif;
  font-size: 2.3rem;
  padding: 12px;
  
}

.btn{
  padding: 6px 20px;
  border: 2px solid white;
  background-color: blue;
  color:white;
  margin:17px;
  font-size: 1.5rem;  
  border-radius: 10px;
  cursor: pointer;
  font-family: 'Baloo Bhai', cursive;
   
}
.center{
  text-align: center;
}
@media only screen and (max-width: 703px) {
  .form-control input {
    margin: 10px 0;
  }
  
  .form-control {
    flex-direction: column;
    align-items: stretch;
  
 
  }

}


#portfolio {
  padding: 40px;
  margin: 0 auto;
 
}
.gallery-title
{
  font-size: 36px;
  color: #050505;
  text-align: center;
  font-weight: 700;
  padding: 40px 20px 60px;
}
.filter-button
{
  font-size: 18px;
  border: 1px solid #000000;
  border-radius: 5px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;

}
.filter-button:hover
{
  font-size: 18px;
  border: 1px solid blue;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: blue;

}
.btn-default:active .filter-button:active
{
  background-color: blue;
  color: white;
}

.port-image
{
  width: 100%;
}

.gallery_product
{
  margin-bottom: 30px;
}


.ms-auto{
  margin-right: 300px;
}
